<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">
    <h1>Listado de clientes</h1>
    <hr>
    <div>
        <a th:href="@{/clientes/create}" class="btn btn-outline-primary float-right btn-margin-bottom">Añadir Cliente</a>
    </div>
    <div th:if="${clientes.size()==0}">
        <p>No hay clientes en el sistema</p>
    </div>
    <div th:if="${clientes.size()>0}">
        <table class="table" id="listado-clientes">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente: ${clientes}">
                <th scope="row" th:text="${cliente.id}"></th>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.createAt}"></td>
                <td>
                    <a th:href="@{/clientes/} + ${cliente.id} + @{/editar}" class="btn btn-outline-primary">Editar</a>
                    <a th:href="@{/clientes/} + ${cliente.id}"
                       class="btn btn-outline-danger"
                       onclick="return confirm('¿Estás seguro que deseas eliminar este cliente?')">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout/layout :: scripts"></div>
<script>
    $(document).ready(function() {
        $('#listado-clientes').DataTable();
    } );
</script>
</body>
</html>